/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}
.sim-btn{
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    cursor: pointer;
    
   }
.col-md-5
{
   padding: 1.5rem;
   background: white;
   border-radius: 2rem;
   border: rgb(53, 53,53) 0.1rem solid;
   border-color: rgb(163,163,163);
   text-align: center;
   margin-right: 20px;
}
img{
    width: 30px;
    
}



/* skills section css */
.skillsText.card {
    height: 280px;
    cursor: pointer;
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-github:hover,.fa-linkedin:hover, .fa-envelope:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#aboutme, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
myform{
        box-sizing: border-box;
    }
    .container{
      border-radius: 5px;
      background-color: #f2f2f2;  
      padding: 20px;
      height: 650px;
      width: 500px;
    }

    input[type=text], textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
   button]{
    background-color: #04aa60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   button]:hover{
    background-color: #45a049;
   }
