/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}
.sim-btn{
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    cursor: pointer;
    
   }
.col-md-5
{
   padding: 1.5rem;
   background: white;
   border-radius: 2rem;
   border: rgb(53, 53,53) 0.1rem solid;
   border-color: rgb(163,163,163);
   text-align: center;
   margin-right: 20px;
}
img{
    width: 30px;
    
}



/* skills section css */
.skillsText.card {
    height: 280px;
    cursor: pointer;
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-github:hover,.fa-linkedin:hover, .fa-envelope:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#aboutme, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
form {
  
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 50%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
